<div class="row">
  <div class="col-md-9">
    <div id="map" style="width: 100%; height: 850px;">
    </div>
  </div>
  <div class="col-md-3">
    <%= form_tag "/", method: :get, class: "form-horizontal"  do %>
      <div class="control-group">
        <%= label_tag "Datasets (shift select for multiple)", nil, class: "control-label" %>
        <%= select_tag "datasets", options_for_select(Organisation.select(:dataset).map(&:dataset).uniq.sort), multiple: true, class: "form-control"  %>
      </div>

      <div class="control-group">
        <%= label_tag "Options" %>
        <%= select_tag "group_by", options_for_select(["lat/long", "suburbs"]), class: "form-control" %>
      </div>

      <%= submit_tag "Submit", class: "btn btn-primary" %>
    <% end %>

    <h3> Top Suburbs </h3>
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <td> Suburb </td>
          <td> Organisations </td>
        </tr>
      </thead>
      <tbody>
        <% @org_suburb_count.each do |suburb, count| %>
          <tr>
            <td> <a id="suburb_<%= suburb.gsub(" ", "_") %>" href="#"><%= suburb %></a><td>
            <td> <%= count %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  handler = Gmaps.build('Google', { markers: { clusterer: { maxZoom: 16 } } } );
  handler.buildMap({ provider : {}, internal: {id: 'map'}}, function() {
    markers = handler.addMarkers(<%=raw @org_hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(4);
  });

  getLatLng = function(id) {
    $.ajax({
      type: "GET", 
      url: "/latlong?suburb={0}".replace("{0}", id),
      dataType: "json",
      success: function(data) {
        handler.getMap().setCenter(new google.maps.LatLng(data.lat, data.long));
        handler.getMap().setZoom(10);
      },
      error : function(XMLHttpRequest, textStatus, errorThrown) {
        alert(textStatus);
        alert(XMLHttpRequest.responseText);
      }
    });
  }

  $(document).ready(function() {
    $("[id^=suburb_]").click(function() {
      getLatLng(this.id);
    });
  });

</script>
